.nav-wrapper {
  width: 95%;
  margin: 0 auto;
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .gradient-border {
    // border: 0px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  }
  .custom-background {
    background: linear-gradient(to left, #743ad5, #d53a9d);
    &:hover {
      background: linear-gradient(to left, #d53a9d, #743ad5);
    }
  }
  .menu-wrapper {
    .text-gray-700 {
      color: #232e52;
      &:hover {
        color: #0e7490;
      }
    }
    .menu-item {
      text-transform: uppercase;
    }
  }
}

// @media only screen and (max-width: 768px) {
//   .navbar-area {
//     padding: 20px 10px !important;
//   }
// }
